{% extends 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Profile Page {% endblock %}


{% block css_block %}

{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-4">

            {% if user.user_profile.profile_picture %}
              <img src="{{ user.user_profile.profile_picture.url }}" width="220" height="220" class="rounded-circle me-2" />
            {% else %}
              <img src="{% static 'By_Default.png' %}" width="220" height="220" class="rounded-circle me-2" />
            {% endif %}
    </div>

    <div class="col-sm-8">
        <h3>{{ user.username }} <a href="{% url 'users:edit'%}" class="btn btn-light">Edit Profile</a></h3>
        <h4> {{ user.post.count }} Posts &nbsp;&nbsp; {{ user.follower.count }} Followers &nbsp;&nbsp; {{ user.following.count }} Following </h4>

        <br>
        <h3> {{ user.user_profile.fullname }} </h3>
        <h6> {{ user.user_profile.bio }} </h6>
    </div>
</div>




{% endblock %}